1.What are data structures, and why are they important?
ans:Data structures are ways to organize and store data efficiently. They help in managing data, making it easier to access, modify, or analyze when solving problems.
2.Explain the difference between mutable and immutable data types with examples?
ans:Mutable data types, like lists, can be changed after creation. Immutable types, like strings or tuples, cannot be changed once created. For example, you can add items to a list but not to a tuple.
3.What are the main differences between lists and tuples in Python?
ans:Lists are mutable, so you can modify them, while tuples are immutable. Lists use more memory but are flexible, while tuples are faster and better for fixed data.
4.Describe how dictionaries store data?
ans:Dictionaries store data as key-value pairs. Each key is unique and maps to a specific value, like a label for the data.
5.Why might you use a set instead of a list in Python?
ans:.Sets are used when you need to store unique items and don’t care about the order. They’re also faster for checking membership.
6.What is a string in Python, and how is it different from a list?
ans:A string is a sequence of characters, while a list can hold any data type. Strings are immutable, but lists can be modified.
7.How do tuples ensure data integrity in Python?
ans:Tuples are immutable, so their values cannot be changed accidentally, which keeps the data consistent.
8.What is a hash table, and how does it relate to dictionaries in Python?
ans:A hash table is a structure that maps keys to values using a hash function. Dictionaries use hash tables for fast lookups.
9.Can lists contain different data types in Python?
ans:Yes, Python lists can hold items of different data types, like integers, strings, or even other lists.
10.Explain why strings are immutable in Python.
ans:Strings are immutable to save memory and ensure security. Changes create a new string instead of modifying the original.
11.What advantages do dictionaries offer over lists for certain tasks?
ans:Dictionaries are faster for lookups and are better when you need to map relationships, like IDs to names.
12.Describe a scenario where using a tuple would be preferable over a list?
ans:Use tuples for fixed data, like coordinates (x, y), because they don’t need modification and are faster.
13.How do sets handle duplicate values in Python?
ans:Sets automatically remove duplicates. If you add duplicates, only one copy is kept.
14.How does the "in" keyword work differently for lists and dictionaries?
ans:In lists, it checks if a value exists. In dictionaries, it checks for the presence of a key, not a value.
15.Can you modify the elements of a tuple? Explain why or why not?
ans:No, you can’t modify a tuple because it’s immutable. Once created, its values cannot be changed.
16.What is a nested dictionary, and give an example of its use case?
ans:A nested dictionary is a dictionary within another dictionary. It’s useful for complex data, like storing student details by ID.
17.Describe the time complexity of accessing elements in a dictionary?
ans:Accessing elements in a dictionary is O(1) on average because of the hash table structure.
18.In what situations are lists preferred over dictionaries?
ans:Lists are better when you only need ordered data or don’t need to associate keys with values.
19.Why are dictionaries considered unordered, and how does that affect data retrieval?
ans:Dictionaries don’t maintain the order of items (before Python 3.7). Data is retrieved by keys, not position.
20.Explain the difference between a list and a dictionary in terms of data retrieval?
ans:Lists retrieve data by index, while dictionaries retrieve data by key, making dictionaries faster for specific lookups.

In [1]:
#Create a string with your name and print it:
name = "John"
print(name)

John

In [2]:
#Find the length of the string "Hello World":
s = "Hello World"
print(len(s))

11

In [3]:
#Slice the first 3 characters from "Python Programming":
s = "Python Programming"
print(s[:3])

Pyt

In [5]:
#Convert "hello" to uppercase:
#Copy code
s = "hello"
print(s.upper())

HELLO

In [6]:
#Replace "apple" with "orange" in "I like apple":
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [7]:
#Create a list with numbers 1 to 5 and print it:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#Append 10 to the list [1, 2, 3, 4]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
#Remove 3 from the list [1, 2, 3, 4, 5]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
#Access the second element in the list ['a', 'b', 'c', 'd']:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
#Reverse the list [10, 20, 30, 40, 50]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#Create a tuple with elements 10, 20, 30 and print it:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [13]:
#Access the first element of the tuple ('apple', 'banana', 'cherry'):
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [14]:
#Count how many times 2 appears in the tuple (1, 2, 3, 2, 4, 2):
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

In [15]:
#Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit'):
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [16]:
#Check if "banana" is in the tuple ('apple', 'orange', 'banana'):
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

In [17]:
#Create a set with elements 1, 2, 3, 4, 5 and print it:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [18]:
#Add 6 to the set {1, 2, 3, 4}:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [19]:
#Create a tuple with elements 10, 20, 30 and print it:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [20]:
#Access the first element of the tuple ('apple', 'banana', 'cherry'):
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [21]:
#Count how many times 2 appears in the tuple (1, 2, 3, 2, 4, 2):
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

In [22]:
#Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit'):
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [23]:
#Check if "banana" is in the tuple ('apple', 'orange', 'banana'):
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

In [24]:
#Create a set with elements 1, 2, 3, 4, 5 and print it:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
#Add 6 to the set {1, 2, 3, 4}:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}